* {
    font-family: "Lora", serif;
    color: black;
    font-size: 11px;
    font-weight: 400;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1440;
    width: 100%;
    margin: 0 auto;
    color: #FFFFFF;
}

.nav {
    margin-bottom: 80px;
    padding-left: 250px;
    padding-top: 20px;
    padding-right: 250px;
    vertical-align: middle;
    display: flex;
    position: absolute;
}

.nav ul {
    width: 376.61px;
    height: 40px;
    left: 563.39px;
    display: flex;
    list-style: none;
    padding-left: 500px;
}

.nav a {
    text-transform: uppercase;
    font-family: "Oxygen", serif;
    line-height: 26px;
    letter-spacing: 1px;
    text-align: right;
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
    text-decoration: none;
    color: white;
}

.main {
    background-color: #F7F7F7;
}

.intro {
    background-image: url("./images/rocks.jpg");
    height: 400px;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 200px 0 400px 0;
}

.intro h1 {
    font-size: 50px;
    letter-spacing: 2px;
    line-height: 51px;
    color: white;
}

.intro h2 {
    font-size: 17px;
    line-height: 20px;
    color: white;
    opacity: 63%;
    margin-top: 25px;
    margin-bottom: 30px;
}

.intro button {
    background-color: #DD783F;
    height: 44px;
    width: 167px;
    font-size: 13px;
    line-height: 20px;
    border: none;
    color: white;
    border-radius: 3px;
}

.menu {
    height: 65px;
    margin-bottom: 25px;
    padding-top: 25px;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
}

.menu ul {
    height: 46px;
    display: flex;
    list-style: none;
}

.menu a {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    display: inline-block;
    margin-left: 50px;
    margin-right: 50px;
    text-decoration: none;
    color: #768088;
}

.intro-information h3 {
    padding-top: 30px;
    font-family: "Oxygen", serif;
    line-height: 27px;
    font-size: 20px;
    letter-spacing: 2px;
    color: #2E2E2E;
    text-align: center;
}

.intro-information hr {
    width: 188px;
    color: #DEDEDE;
    margin: 10px 625px;
}

.featured-posts {
    display: flex;
    width: 960px;
    margin-left: 250px;
    padding-bottom: 40px;
    padding-top: 10px;
}

.article {
    width: 960px;
    height: 294px;
    padding-left: 2%;
    padding-right: 2%;
}

.article h4 {
    line-height: 30px;
    font-size: 27px;
    color: #FFFFFF;
    padding-top: 37%;
    padding-bottom: 2%;
}

.article h5 {
    line-height: 25px;
    font-size: 14px;
    color: #FFFFFFB2;
    padding-bottom: 3%;
}

.signature {
    display: flex;
}

.signature p {
    line-height: 35px;
    font-size: 12px;
    color: #FFFFFFB2;
    padding-left: 2%;
}

.round {
    border-radius: 50%;
}

.the-road-head {
    background-image: url("images/main.jpeg");
    background-size: cover;
    width: 460px;
    height: 280px;
    border-radius: 3px;
    margin-right: 20px;
}

.from-top-down {
    background-image: url("images/flashlights.jpg");
    background-size: cover;
    width: 460px;
    height: 280px;
    border-radius: 3px;
}

.most-recent {
    display: flex;
    width: 960px;
    margin-left: 250px;
    padding-bottom: 40px;
    padding-top: 10px;
    flex-wrap: wrap;
    flex-direction: row;
}

.still-standing-tall {
    width: 296px;
    height: 93px;
    background-color: #FFFFFF;
}

.most-recent hr {
    width: 295.98px;
    color: #EFEFEF;
}

.img {
    width: 295.98px;
    height: 150px;
}

.section {
    height: 294px;
    padding-right: 20px;
}


.section h4 {
    line-height: 21px;
    font-size: 16px;
    color: #101315;
    padding-bottom: 2%;
}

.section h5 {
    line-height: 19px;
    font-size: 13px;
    color: #7A7A7A;
    padding-bottom: 3%;
    width: 295.98px;
}

.sign {
    display: flex;
}

.sign p {
    font-family: "Oxygen", serif;
    line-height: 35px;
    font-size: 11px;
    color: #999999;
    padding-left: 2%;
    text-align: right;
}

.footer {
    width: 100%;
    height: 89px;
    background-image: url("images/village.jpeg");
    background-size: cover;
    background-position-y: 50%;
}

.footer-nav {
    width: 100%;
    height: 89px;
    padding-top: 25px;
    padding-right: 0px;
    background-color: #232F3899;
}

.footer-nav a {
    opacity: 60%;
}