* {
    font-family: "Lora", serif;
    color: black;
    font-size: 11px;
    font-weight: 400;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1440;
    margin: 0 auto;
    color: #FFFFFF;
}

.header-container {
    background-image: url("../images/rocks.png");
    background-size: cover;
    max-width: 1440px;
}


.navigation {
    display: flex;
    justify-content: space-between;
    padding: 17px 250px;
}


.navigation__item {
    display: inline-block;
}

.navigation__link {
    padding-right: 20px;
    text-transform: uppercase;
    font-family: "Oxygen", serif;
    line-height: 20px;
    letter-spacing: 0.6px;
    text-decoration: none;
    text-align: left;
    color: white;
}

.main {
    background-color: #F7F7F7;
}

.banner {
    padding-bottom: 65px;
    text-align: center;
}

.banner__title {
    font-size: 50px;
    letter-spacing: 2px;
    line-height: 51px;
    color: white;
    padding-top: 177px;
}

.banner__subtitle {
    font-size: 17px;
    line-height: 20px;
    color: white;
    opacity: 63%;
    padding-top: 20px;
}

.banner__offer-link {
    background-color: #DD783F;
    font-size: 13px;
    line-height: 20px;
    color: white;
    border-radius: 3px;
    padding: 12px 31px;
    margin-top: 43px;
    display: inline-block;
    text-decoration: none;
}

.menu {
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    padding: 9px 240px 10px;
}

.menu__item {
    display: inline-block;
}

.menu__link {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    color: #768088;
    padding: 13px 46px;
}

.features {
    padding: 0 250px 89px 250px;

}

.features__heading {
    font-family: "Oxygen", serif;
    line-height: 27px;
    font-size: 20px;
    letter-spacing: 2px;
    color: #2E2E2E;
    text-align: center;
    padding-top: 60px;
}

.features__line {
    height: 1px;
    max-width: 188px;
    color: #DEDEDE;
    margin: 16px 386px 0;
}

.features__part1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 16px;
    padding-bottom: 7px;
    justify-content: space-around;
    max-width: 960px;
    margin-left: 0;
    position: relative;
    column-gap: 20px;
    row-gap: 20px;
}


.features__link {
    display: block;
    text-decoration: none;
}

.features__block-article {
    position: relative;
    padding-top: 7px;
    margin-bottom: 10px;
    width: 460px;
    z-index: 1;
}

.features__image {
    position: absolute;
    width: 460px;
    height: 280px;
}

.features__article-head {
    line-height: 30px;
    font-size: 27px;
    color: #FFFFFF;
    padding-top: 157px;
    padding-left: 20px;
}

.features__article-subhead {
    line-height: 25px;
    font-size: 14px;
    color: #FFFFFFB2;
    padding-left: 20px;
    padding-top: 6px;
    padding-bottom: 12px;
}

.features__signature {
    display: flex;
    padding-left: 20px;
    justify-content: space-between;

}

.features__label1 {
    display: flex;
}


.features__round {
    max-width: 26px;
    max-height: 26px;
    border-radius: 60px;
}

.features__signature-autor {
    line-height: 35px;
    font-size: 12px;
    color: #FFFFFFB2;
    padding-left: 10px;
}

.features__signature-date {
    line-height: 35px;
    font-size: 12px;
    color: #FFFFFFB2;
    padding-right: 10px;
}



.features__part2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 16px;
    justify-content: space-around;
    column-gap: 10px;
    row-gap: 10px;
}

.features__block {
    background-color: #FFFFFF;
    width: 296px;
}

.features__imgs {
    width: 296px;
    height: 150px;
}

.features__section {
    padding-top: 7px;
    max-width: 960px;
}


.features__section-head {
    line-height: 21px;
    font-size: 16px;
    color: #101315;
    padding-top: 14px;
    padding-left: 13px;
}

.features__section-subhead {
    line-height: 19px;
    font-size: 13px;
    color: #7A7A7A;
    padding-top: 6px;
    padding-left: 13px;
}

.features__lab1 {
    display: flex;
    padding-left: 13px;
}

.features__description {
    height: 93px;
}

.features__sign {
    display: flex;
    border-top: 1px solid #EFEFEF;
    padding-top: 7px;
    padding-bottom: 7px;
    justify-content: space-between;
}

.features__sign-autor {
    font-family: "Oxygen", serif;
    line-height: 35px;
    font-size: 11px;
    color: #999999;
    padding-left: 10px;
}

.features__sign-date {
    font-family: "Oxygen", serif;
    line-height: 35px;
    font-size: 11px;
    color: #999999;
    padding-right: 13px;
}

.footer {
    background-image: url("../images/village.png");
    background-size: cover;
    background-position-y: 50%;
    height: 378px;
}

.footer-block-email {
    padding: 62px 250px 80px 250px;
}

.block-email__title {
    font-family: "Oxygen", serif;
    line-height: 30px;
    font-size: 25px;
    color: #EFEFEF;
    padding: 1px 391px 17px 391px;
}

.block-email__line {
    height: 1px;
    max-width: 188px;
    color: #DEDEDE;
    margin: 16px 386px 20px;
}

.block-email__part {
    display: flex;
    padding-top: 20px;
    padding-left: 220px;
}

.block-email__input {
    width: 375px;
    height: 50px;
    padding-left: 35px;
    border: none;
    border-radius: 3px 0 0 3px;
}


.block-email__submit {
    width: 125px;
    height: 50px;
    font-size: 12px;
    font-family: "Roboto";
    color: #F8F8F8;
    background-color: #FFFFFF47;
    border: none;
    border-radius: 0 3px 3px 0;
}

.footer-navigation {
    background-color: #232F3899;
    padding: 28px 240px 27px 240px;
}

.footer__link {
    opacity: 60%;
}