* {
    font-family: "Lora", serif;
    color: black;
    font-size: 11px;
    font-weight: 400;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    width: 100%;
    color: #FFFFFF;
}


.header-container {
    background-image: url("../images/rocks.png");
    background-size: cover;
}


.navigation {
    padding-top: 17px;
    display: flex;
    justify-content: space-around;
    padding-left: 20px;
}

.navigation__list {
    display: flex;
    list-style: none;
}

.navigation__link {
    text-transform: uppercase;
    font-family: "Oxygen", serif;
    line-height: 26px;
    letter-spacing: 1px;
    display: inline-block;
    text-decoration: none;
    color: #FFFFFF;
    padding-right: 15px;
}

.main {
    background-color: #F7F7F7;
}

.banner {
    text-align: center;
}

.banner__title {
    font-size: 50px;
    letter-spacing: 2px;
    line-height: 51px;
    color: white;
}

.banner__subtitle {
    font-size: 17px;
    line-height: 20px;
    color: white;
    opacity: 63%;
}

.banner__offer-link {
    background-color: #DD783F;
    font-size: 13px;
    line-height: 20px;
    color: white;
    border-radius: 3px;
    padding: 12px 31px;
    display: inline-block;
    text-decoration: none;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 9px;
    justify-content: space-around;
    background-color: #FFFFFF;
    text-align: center;
}

.menu__item {
    display: inline-block;
}

.menu__link {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    color: #768088;
}

.features {
    margin: 0 3% 0 3%;
    padding-bottom: 89px;
}

.features__heading {
    font-family: "Oxygen", serif;
    line-height: 27px;
    font-size: 20px;
    letter-spacing: 2px;
    color: #2E2E2E;
    text-align: center;
    padding-top: 60px;
}

.features__cont-line {
    text-align: center;
}

.features__line {
    height: 1px;
    width: 188px;
    color: #DEDEDE;
    display: inline-block;
    margin-top: 16px;
}

.features__part1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 0;
    position: relative;
    row-gap: 20px;
    column-gap: 20px;
}


.features__link {
    display: block;
    text-decoration: none;
}

.features__block-article {
    position: relative;
    z-index: 1;
    height: 280px;
}

.features__image {
    position: absolute;
    height: 280px;
}

.features__article-head {
    line-height: 30px;
    font-size: 27px;
    color: #FFFFFF;
    padding-top: 157px;
    padding-left: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.features__article-subhead {
    line-height: 25px;
    font-size: 14px;
    color: #FFFFFFB2;
    padding-left: 20px;
    padding-top: 6px;
    padding-bottom: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.features__signature {
    display: flex;
    padding-left: 20px;
    justify-content: space-between;

}

.features__label1 {
    display: flex;
}


.features__round {
    max-width: 26px;
    max-height: 26px;
    border-radius: 60px;
}

.features__signature-autor {
    line-height: 35px;
    font-size: 12px;
    color: #FFFFFFB2;
    padding-left: 10px;
}

.features__signature-date {
    line-height: 35px;
    font-size: 12px;
    color: #FFFFFFB2;
    padding-right: 10px;
}



.features__part2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 16px;
    justify-content: space-around;
    column-gap: 10px;
    row-gap: 10px;
}

.features__block {
    background-color: #FFFFFF;
}

.features__imgs {
    height: 150px;
}

.features__section {
    padding-top: 7px;
    max-width: 960px;
}


.features__section-head {
    line-height: 21px;
    font-size: 16px;
    color: #101315;
    padding-top: 14px;
    padding-left: 13px;
}

.features__section-subhead {
    line-height: 19px;
    font-size: 13px;
    color: #7A7A7A;
    padding-top: 6px;
    padding-left: 13px;
}

.features__lab1 {
    display: flex;
    padding-left: 13px;
}

.features__description {
    height: 110px;
}

.features__sign {
    display: flex;
    border-top: 1px solid #EFEFEF;
    padding-top: 7px;
    padding-bottom: 7px;
    justify-content: space-between;
}

.features__sign-autor {
    font-family: "Oxygen", serif;
    line-height: 35px;
    font-size: 11px;
    color: #999999;
    padding-left: 10px;
}

.features__sign-date {
    font-family: "Oxygen", serif;
    line-height: 35px;
    font-size: 11px;
    color: #999999;
    padding-right: 13px;
}

.footer {
    background-image: url("../images/village.png");
    background-size: cover;
    background-position-y: 50%;
}

.footer-block-email {
    text-align: center;
    padding: 62px 0 89px 0;
}

.block-email__title {
    font-family: "Oxygen", serif;
    line-height: 30px;
    color: #EFEFEF;
    text-align: center;
    margin-top: 20px;
}

.block-email__line {
    height: 1px;
    width: 188px;
    color: #DEDEDE;
}

.block-email__cont {
    display: flex;
    justify-content: center;
}

.block-email__part {
    display: flex;
    margin-bottom: 10px;
}

.block-email__input {
    border: none;
    border-radius: 3px 0 0 3px;
}


.block-email__submit {
    font-size: 12px;
    font-family: "Roboto";
    color: #F8F8F8;
    background-color: #FFFFFF47;
    border: none;
    border-radius: 0 3px 3px 0;
}

.footer-nav {
    width: 100%;
    background-color: #232F3899;
    display: flex;
}

.footer__link {
    color: white;
    opacity: 60%;
}

.nav__list {
    height: 40px;
    list-style: none;
}

.burger-checkbox {
    position: absolute;
    visibility: hidden;
}

@media screen and (max-width: 599px) {

    .burger {
        position: relative;
        z-index: 1;
        cursor: pointer;
        display: block;
        position: relative;
        border: none;
        background: transparent;
        width: 40px;
        height: 26px;
    }

    .burger::before,
    .burger::after {
        content: '';
        left: 0;
        position: absolute;
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 10px;
        background: white;
    }

    .burger::before {
        top: 0;
        box-shadow: 0 11px 0 white;
        transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
    }

    .burger::after {
        bottom: 0;
        transition: bottom .3s .15s, transform .3s;
    }

    .burger-checkbox:checked+.burger::before {
        top: 11px;
        transform: rotate(45deg);
        box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
        transition: box-shadow .15s, top .3s, transform .3s .15s;
    }

    .burger-checkbox:checked+.burger::after {
        bottom: 11px;
        transform: rotate(-45deg);
        transition: bottom .3s, transform .3s .15s;
    }

    .navigation__list {
        top: -100px;
        right: 0;
        position: absolute;
        display: grid;
        gap: 12px;
        padding: 30px 10px;
        margin: 0;
        background: gray;
        list-style-type: none;
        transform: translateY(-100%);
        transition: .3s;
        width: 200px;
    }

    .navigation__link {
        display: block;
        padding: 8px;
        font-size: 18px;
        text-align: right;
        text-decoration: none;
    }

    .navigation__link:hover {
        background: rgba(255, 255, 255, .2)
    }

    .burger-checkbox:checked~.navigation__list {
        transform: translateY(0);
        top: 0;
    }

    .footer__link {
        padding: 1px;
        font-size: 14px;
    }
}

@media screen and (min-width: 420px) {
    .container {
        min-width: 420px;
    }

    .banner {
        padding-bottom: 40px;
    }

    .banner__title {
        margin-top: 69px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .banner__subtitle {
        padding-top: 23px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .banner__offer-link {
        margin-top: 28px;
    }

    .menu {
        padding-bottom: 29px;
    }

    .menu__link {
        padding: 13px 20px;
    }

    .features__part1 {
        padding-top: 23px;
    }

    .features__block-article {
        width: 380px;
    }

    .features__image {
        width: 380px;
    }

    .features__block {
        width: 382px;
    }

    .features__imgs {
        width: 382px;
        height: 150px;
    }

    .footer {
        height: 430px;
    }

    .footer-nav {
        height: 148px;
        padding-right: 20px;
        justify-content: space-between;
        padding: 18px 20px;
    }

    .block-email__title {
        font-size: 20px;
    }

    .block-email__line {
        margin: 16px 0 21px 0;
        display: inline-block;
    }

    .block-email__input {
        width: 150px;
        height: 30px;
        padding-left: 10px;
    }

    .block-email__submit {
        width: 100px;
        height: 30px;
    }
}

@media screen and (min-width: 600px) {
    .container {
        min-width: 600px;
    }

    .navigation__link {
        padding-right: 15px;
    }

    .banner {
        padding-bottom: 130px;
    }

    .banner__title {
        margin-top: 106px;
        padding-left: 60px;
        padding-right: 60px;
    }

    .banner__subtitle {
        padding-top: 22px;
        padding-left: 60px;
        padding-right: 60px;
    }

    .banner__offer-link {
        margin-top: 31px;
    }

    .menu {
        padding-bottom: 15px;
    }

    .menu__link {
        padding: 13px 30px;
    }

    .features__part1 {
        padding-top: 20px;
    }

    .features__block-article {
        width: 360px;
    }

    .features__image {
        width: 360px;
    }

    .features__block {
        width: 222px;
    }

    .features__imgs {
        width: 222px;
        height: 150px;
    }

    .footer {
        height: 370px;
    }

    .footer-nav {
        height: auto;
        padding: 20px 20px;
        display: flex;
        justify-content: space-around;
    }

    .nav__list {
        display: flex;
    }

    .block-email__title {
        font-size: 22px;
    }

    .block-email__line {
        margin: 17px 0 20px 0;
    }

    .block-email__input {
        width: 200px;
        height: 40px;
        padding-left: 15px;
    }

    .block-email__submit {
        width: 110px;
        height: 40px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        min-width: 768px;
    }

    .navigation__link {
        padding-right: 22px;
    }

    .banner {
        padding-bottom: 171px;
    }

    .banner__subtitle {
        padding-top: 20px;
    }

    .menu {
        padding-bottom: 10px;
    }

    .menu__link {
        padding: 13px 12px;
    }

    .features__part1 {
        padding-top: 20px;
        max-width: 768px;
        margin: 0 auto;
    }

    .features__block-article {
        width: 345px;
    }

    .features__image {
        width: 345px;
    }

    .features__block {
        width: 222px;
    }

    .features__imgs {
        width: 222px;
        height: 150px;
    }

    .footer {
        height: 388px;
    }

    .footer-nav {
        padding: 24px 24px;
    }

    .block-email__title {
        font-size: 25px;
    }

    .block-email__input {
        width: 280px;
        height: 50px;
        padding-left: 25px;
    }

    .block-email__submit {
        width: 115px;
        height: 50px;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        min-width: 1024px;
    }

    .navigation__link {
        padding-right: 23px;
    }

    .banner {
        padding-bottom: 157px;
    }

    .menu__link {
        padding: 13px 21px;
    }

    .features__part1 {
        padding-top: 20px;
        max-width: 1024px;
        margin: 0 auto;
    }

    .features__block-article {
        width: 460px;
    }

    .features__image {
        width: 460px;
    }

    .features__block {
        width: 296px;
    }

    .features__imgs {
        width: 296px;
    }

    .footer-nav {
        height: 89px;
        padding: 28px 27px;
    }

    .block-email__input {
        width: 340px;
        padding-left: 30px;
    }

    .block-email__submit {
        width: 120px;
    }
}

@media screen and (min-width: 1366px) {
    .container {
        min-width: 1366px;
        max-width: 1440px;
    }

    .menu__link {
        padding: 13px 67px;
    }

    .features__part1 {
        padding-top: 20px;
        max-width: 960px;
        margin: 0 auto;
    }

    .features__part2 {
        max-width: 960px;
        margin: 0 auto;
    }

    .block-email__input {
        width: 375px;
        padding-left: 35px;
    }

    .block-email__submit {
        width: 125px;
    }
}