* {
    font-family: "Lora", serif;
    color: black;
    font-size: 11px;
    font-weight: 400;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1440;
    width: 100%;
    margin: 0 auto;
    color: #FFFFFF;
}

.navigation {
    margin-bottom: 80px;
    padding-left: 250px;
    padding-top: 20px;
    display: flex;
}


.navigation__list {
    width: 376.61px;
    height: 40px;
    left: 563.39px;
    display: flex;
    list-style: none;
    padding-left: 500px;
}

.navigation__link {
    text-transform: uppercase;
    font-family: "Oxygen", serif;
    line-height: 26px;
    letter-spacing: 1px;
    text-align: right;
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
    text-decoration: none;
}



.intro {
    height: 159px;
}

.intro h1 {
    font-size: 50px;
    text-align: center;
    color: #2E2E2E;
    line-height: 51px;
    letter-spacing: 2px;
}

.intro h2 {
    font-size: 17px;
    text-align: center;
    color: #2E2E2E;
    opacity: 63%;
    margin-top: 20px;
    line-height: 20px;
}

.images img {
    width: 100%;
    height: 534px;
}

.info {
    align-content: center;
    margin-bottom: 200px;
    margin-top: 7%;
}

.info p {
    font-family: "Oxygen", serif;
    font-size: 24px;
    color: #101315;
    margin-left: 15%;
    margin-right: 15%;
}

.footer {
    width: 100%;
    height: 89px;
    background-image: url("../images/village.png");
    background-size: cover;
    background-position-y: 50%;
}

.footer-nav {
    width: 100%;
    height: 89px;
    padding-top: 25px;
    padding-right: 0px;
    background-color: #232F3899;
}

.footer__link {
    color: white;
    opacity: 60%;
}
